### Making Dataframe

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
import warnings

In [8]:
warnings.filterwarnings('ignore')

#### Creating Series

In [16]:
my_series=pd.Series([5,6,7,8])

In [17]:
my_series.dtype

dtype('int64')

#### Convert to list

In [18]:
my_series.tolist

<bound method IndexOpsMixin.tolist of 0    5
1    6
2    7
3    8
dtype: int64>

#### Empty DataFrame

In [19]:
my_df=pd.DataFrame()
print(my_df)

Empty DataFrame
Columns: []
Index: []

#### Dataframe using List of lists

In [33]:
scores1=[['Maths',20],['English',25],['Science',19]]

In [34]:
scores1

[['Maths', 20], ['English', 25], ['Science', 19]]

In [35]:
df1=pd.DataFrame(Scores, columns = ['Subject','Mark'])

In [36]:
df1

   Subject  Mark
0    Maths    20
1  English    25
2  Science    19

In [38]:
scores2={'Subject':['Maths','English','Science'],'Scores':[98,75,68]}

In [39]:
scores2

{'Subject': ['Maths', 'English', 'Science'], 'Scores': [98, 75, 68]}

#### DataFrame using List of Dictionaries

In [41]:
scores3=[
        {'Subject':"Maths",'Score':85},
        {'Subject':"English",'Score':75},
        {'Subject':"Science",'Score':65}
            ]

In [42]:
scores

[{'Subject': 'Maths', 'Score': 85},
 {'Subject': 'English', 'Score': 75},
 {'Subject': 'Science', 'Score': 65}]